/* COMMON STYLES */
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
}

html {
    /* using rem: 1 rem = 16px but converting 1 rem to 10px by changing font-size to 62.5 */
    font-size: 62.5%;
}

.section-heading {
    font-size: 10rem;
    font-weight: 700;
    color: white;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: .25rem;
    text-shadow: .5rem .3rem .5rem #000;
}


/* SECTION-1 */
.section-1 {
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.section-1-icons i {
    font-size: 35rem;
    color: #a79a2b;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    text-shadow: .3rem .3rem .3rem #000;
    transition: transform .4s;
}

.section-1-icons i.change {
    transform: translate(-50%, -50%) scale(1);
    transition: transform .4s .4s;
}


/* SECTION-2 */
.section-2 {
    width: 100%;
    height: 100vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 0;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    width: 32rem;
    background-color: #a79a2d;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1rem 1rem 1rem #000;
    position: relative;
    transform: rotateY(20deg) skewX(-2deg);
    transition: transform 1s, box-shadow 1s;
}

.card:hover {
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
    box-shadow: 2rem 2rem 2rem #000;
}

.card::before {
    content: "";
    height: 100%;
    width: 1rem;
    background-color: #817824;
    position: absolute;
    top: 0;
    right: -1rem;
    transform: skewY(135deg);
    transform-origin: left;
    box-shadow: .1rem .1rem .1rem #000;
}

.card::after {
    content: "";
    height: 1rem;
    width: 100%;
    background-color: #8f8317;
    position: absolute;
    top: -1rem;
    left: 0;
    transform: skewX(135deg);
    transform-origin: bottom;
}

.card-img {
    width: 100%;
}

.card-name {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: #111;
    margin: 2rem 0;
}

.card-button {
    width: 70%;
    background-color: #111;
    color: #888;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: .2rem;
    text-transform: capitalize;
    border: none;
    padding: 0.5rem 0;
    cursor: pointer;
    box-shadow: -.2rem -.2rem .2rem #000;
}

/* SECTION-3 */
.section-3 {
    width: 100%;
    height: 100vh;
    background-color: #333;
    padding: 5rem 0;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10rem;
}

.gallery-link {
    position: relative;
    margin: 1.5rem 1rem;
}

.gallery-link:hover::before {
    width: 0.2rem;
}

.gallery-link:hover::after {
    height: 0.2rem;
}

.gallery-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 80%;
    background-color: white;
    opacity: .7;
    top: 2vh;
    left: 85%;
    transition: width .75s;
}

.gallery-link::after {
    content: '';
    position: absolute;
    width: 85%;
    height: 0;
    background-color: white;
    opacity: .7;
    top: 6rem;
    left: 10%;
    transition: height .25s
}

.food-img {
    width: 24vw;
    height: 15vw;
    object-fit: cover;
    box-shadow: .3rem .3rem .1rem  #000, .5rem .5rem .1rem  #222, .7rem .7rem .1rem  #444, .9rem .9rem .1rem  #666, .11rem .11rem .1rem  #888;
    transition: all .5s;
}

.gallery-link:hover .food-img {
    box-shadow: .6rem .6rem .1rem  #000, .8rem .8rem .1rem  #222, 1rem 1rem .1rem  #444, 1.2rem 1.2rem .1rem  #666, 1.4rem 1.4rem .1rem  #888;
    filter: blur(.3rem);
    opacity: .5;
}

.food-name {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #fff;
    width: 0;
    overflow: hidden;
    transition: width .3s
}

.gallery-link:hover .food-name {
    width: 100%;
    transition: width 1.5s .5s
}

.food-description {
    position: absolute;
    bottom: 3vh;
    left: 2rem;
    width: 75%;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s;
}

.gallery-link:hover .food-description {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 1.25s;

}





